// Page de l'appliation ggggg

body {
  margin:0;
  font: 100% Consolas, Monaco, monospace;
  background: #1d1f20;
}

.container{
  width: 80%;
  margin: 0 auto;
}


p {
  color: rgba(0, 255, 0, 0.8);
  font-size: 20px;
}
.typing-text {
  display:none;
  margin: 0;
  width: 59ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(60),
  caret 1s steps(1) infinite;
}

@keyframes typing {
  from { width: 0 }
}

@keyframes caret {
  50% { border-right-color: transparent; }
}

.terminal{
  padding: 10px;
  width: 100%;
  height: auto;
}


.frame {
  background: #000;
  width: 720px;
  margin: auto;
  height: 335px;
  border: 3px solid#ddd;
  cursor: pointer;
}


@media only screen and (max-width: 900px) {

  .frame {
    background: #000;
    width: 90%;
    margin: auto;
    height: 300px;
    border: 3px solid#ddd;
  }
}

.terminal-header {
  background: #ddd;
}

h2 {
  margin:0;
  font: 200% monospace;
}

.trick-header {
  margin-top: -20px;
  margin-bottom: 30px;
}

h1 {
  padding: 30px;
  background: #000;
  color: rgba(0, 255, 0, 0.8);
  text-align: center;
}

input{
  display: block;
  margin: 20px 0;
}

.info{
  width: 720px;
  margin: auto;
  padding: 20px 0;
}

// badge

.badge{
  border: 1px solid white;
  width: 400px;
}


// card

.logo{
  width: 40px;
  top: 10%;
  position: absolute;
  left: 7%;
}

.creditcard{
  margin: 300px auto;
  width: 100px;
}

.creditcard svg#cardfront{
  width: 100%;
  border: white;
  -webkit-box-shadow: 3px 6px 10px 0 black;
  box-shadow: 1px 5px 6px 0 #ffffff;
  border-radius: 22px;
  transition-duration: 0.3s;
}

.creditcard svg#cardfront:hover{
  box-shadow: 3px 6px 10px 0 #e50404;
  cursor: pointer;
}

#generatecard{
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
}

#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #FFFFFF;
}

#cardfront .st3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #FFFFFF;
}

#cardfront .st8 {
  font-size: 24px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
}

.creditcard .front {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}







