<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">

        <title>Badge Root-Me</title>
    </head>
    <body>
        <div class="container preload">
            <div class="creditcard">
                <div class="front">
                    <img class="logo" src="https://pro.root-me.org/squelettes/images/RMP_logo_blanc.png" alt="loo">
                    <svg id="cardfront" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px" viewBox="0 0 750 471" style="enable-background:new 0 0 750 471;" xml:space="preserve">
                        <g id="Front">
                            <path d="M750,431V193.2c-217.6-57.5-556.4-13.5-750,24.9V431c0,22.1,17.9,40,40,40h670C732.1,471,750,453.1,750,431z" />
                        </g>
                        <text transform="matrix(1 0 0 1 54.106 310.0121)" id="svgnumber" class="st2 st3 st4"><?php echo $id_user; ?></text>
                        <text transform="matrix(1 0 0 1 54.1064 428.1723)" id="svgname" class="st2 st5 st6"><?php echo $name_user; ?></text>
                        <text transform="matrix(1 0 0 1 54.1074 389.8793)" class="st7 st5 st8">Name Root Me</text>
                        <text transform="matrix(1 0 0 1 479.7754 388.8793)" class="st7 st5 st8">Rang <?php echo $rang_user; ?></text>
                        <text transform="matrix(1 0 0 1 54.1054 250.5)" class="st7 st5 st8">ID Number Root Me</text>
                        <text transform="matrix(1 0 0 1 480.4219 428.8095)" class="st2 st5 st6"><?php echo $score_user; ?></text>
                    </svg>
                </div>
            </div>
        </div>
    </body>
</html>
