<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <title>Badge Root-Me</title>
    </head>
    <body>

        <header class="trick-header">
            <h1>Badge Root-Me 1.0.0</h1>
        </header>

        <div class="container">
            <div id="card" class="frame">
                <header class="terminal-header">
                    <h2>Terminal</h2>
                </header>
                <div class="terminal">
                    <p>Générez votre badge Root-Me au format PNG</p>
                    <p>Presse < ENTER > OR < Click Terminal > pour déclencher la recherche :</p>
                    <p class="typing-text">Renseigner les informations pour la création du badge.</p>
                    <form id="form" class="typing-text" method="POST" action="/generator">
                        <input type="hidden" name="token" id="token" value="<?php echo $token; ?>" />
                        <input type="text" name="name" placeholder="Votre UID" required="required" title="name"/>
                        <input type="password" name="apikey" placeholder="Votre Api Key" required="required" title="name"/>
                        <button type="submit" name="submit">Confirmer</button>
                    </form>
                </div>
            </div>

            <div class="info">
                <p>By Passeri Mario</p>
                <p><a href="https://gitlab.com/Passeri_Mario/badge-root-me">https://gitlab.com/Passeri_Mario/badge-root-me</a> </p>
            </div>
        </div>
        <script src="../assets/js/app.js"></script>
    </body>
</html>



